.movies-list {
  max-width: 800px;
  margin-top: 15px;
  margin: 15px auto;
}

.movies-list article {
  width: 100%;
  background-color: #fafafa;
  padding: 15px;
  border-radius: 4px;
}

.movies-list h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  display: block;
}

.movies-list img {
  width: 900px;
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.movies-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  font-size: 24px;
  background-color: #000000;
  text-decoration: none;
  color: #fafafa;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
